.row
{
    margin-bottom: 8px;

    @media (max-width: 768px)
    {
        font-size: 14px;
        & span
        {
            display: block;
            margin-top: 4px;
        }
    }
}

.container
{
    overflow: auto;
    padding: 1px;
    margin-bottom: 16px;

    &::-webkit-scrollbar
    {
        display: none;
    }
}

.table
{
    border: 1px solid #384156;
    border-radius: 12px;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 1px #384156;
    width: 100%;

    & td
    {
        min-width: 50px;
        text-align: center;
        border: 1px solid #384156;
        border-radius: 12px;
        padding: 8px;
        color: #B5C4E3;

        @media (max-width: 768px)
        {
            max-width: 40px;
        }

        &.head
        {
            color: #4E5E80;
        }
    }
}