.dropdown
{
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.dropdownBadge
{
    background: #313B52;
    color: #B5C4E3;
    height: 30px;
    min-width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 8px;
    border-radius: 30px;
    line-height: 1em;
}

.dropdown__button
{
    color: #4E5E80;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 24px;
    background: #222A3A;
    padding: 15px;
    border: none;
    gap: 4px;
}

.dropdown__data
{
    display: none;
    position: absolute;
    transform: translateY(calc(100% + 15px));
    background: #293145;
    padding: 0 15px 16px;
    bottom: 0;
    left: 0;
    width: max-content;
    border-radius: 0 0 24px 24px;
    z-index: 2;
}

.dropdown__dataActive
{
    display: block;
}

.dataItem
{
    margin-bottom: 8px;
}

.dataAngleLeft
{
    position: absolute;
    left: 0;
    height: 20px;
    transform: translate(-100%);
}

.dataAngleRight
{
    position: absolute;
    right: 0;
    height: 20px;
    transform: translate(calc(100% - 1px));    
}

@media (max-width: 768px)
{
    .dropdown__button
    {
        padding: 8px 10px;
        border-radius: 6px;
        gap: 0px;
    }

    .dropdownBadge
    {
        background: none;
        height: auto;
        min-width: auto;
        font-size: 12px;
        padding: 0 3px;
    }

    .dropdown__data{
        transform: translateY(calc(100% + 7px));
        font-size: 12px;
        padding: 0 15px 4px;
        border-radius: 0 0 12px 12px;
    }
    .dataAngleRight
    {
        height: 15px;
    }
    .dataAngleLeft
    {
        height: 15px;
    }
}