
.navigation
{
    position: absolute;
    top: 248px;
    height: 60px;
    width: 60px;
    background: #222A3A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .7;
    user-select: none;
    border: none;
    color: #B5C4E3;
}

.navigation:hover
{
    background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
    opacity: 1;
    color: #000;
}

.navigation i
{
    position: relative;
    right: -1px;
}

.icon
{
    height: 16px;
}


@media (max-width: 768px)
{
    .navigation
    {
        height: 30px;
        width: 30px;
        top: 50%;
        font-size: 8px;
    }
    .icon
    {
        height: 8px;
    }
}