.badge
{
    background: #313B52;
    border-radius: 666px;
    width: fit-content;
 
    &.mobileTransparrent
    {
        @media (max-width: 768px)
        {
            background: none;

            & .inner
            {
                padding: 0;
            }
        }
    }

    // &.loading .inner
    // {
    //     padding: 4px;        
    // }

    & .inner
    {
        padding: 8px;
        color: #B5C4E3;
        line-height: 1em;
        
        @media (max-width: 768px)
        {
            font-size: 12px;
            padding: 5px;
        }
    }
}