.row
{

    @media (max-width: 768px)
    {
        font-size: 14px;
        & span
        {
            display: block;
            margin-top: 4px;
        }
    }

    &:not(:last-child)
    {
        margin-bottom: 16px;
    }
}