.button
{
    background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
    border: none;
    border-radius: 24px;
    box-shadow: #EFB23D 0px 0px 30px -5px;
    color: #313B52;
    cursor: pointer;
    font-weight: 600;
    height: 60px;
    transition: .2s;
}

.button:hover
{
    opacity: .7;
}

@media (max-width: 768px)
{
    .button
    {
        border-radius: 12px;
        height: 44px;
    }
}