.card
{
    border: none;
    border-radius: 2px;
    font-size: 2em;
    height: 2.5em;
    line-height: .8em;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 2em;
}

.card.special
{
    color: #222A3A;
    background: #4E5E80;
}

.content
{
    padding: .2em;
    position: relative;
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.special .content
{
    justify-content: center;
    align-items: center;
}

.special.clock
{
    background: #B43B35;
}

.card svg
{
    height: 1em;
    width: 1em;
}

.icon
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.rankIcon
{
    height: 1.3em;
}

.red
{
    background: #B43B35;
    color: #B5C4E3;
}

.red path
{
    fill: #B5C4E3;
}

.dark
{
    background: #171B25;
    color: #4E5E80;
}

.dark path
{
    fill: #4E5E80;
}