.container
{
    height: 100%;
    width: 100%;
}

.door
{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    cursor: pointer;

    &:not(.over).active:hover
    {
        opacity: .8;

        & .texture
        {
            display: none;

            &Active
            {
                display: block;
            }
        }

        & .info
        {
            &Texture
            {
                display: none;

                &Active
                {
                    display: block;
                }
            }

            &Room
            {
                color: #E8D837;

            }

            &Level
            {
                color: #6B560F;
            }
        }
    }

    &.over
    {
        opacity: .4;
    }


    & .texture
    {
        height: 100%;
        width: 100%;
        position: absolute;

        &Active
        {
            display: none;
        }
    }

    & .info
    {
        font-size: 1.5vh;
        position: absolute;
        width: 14vh;
        height: 9vh;
        top: 9vh;
        right: 50%;
        transform: translateX(50%);            

        @media (max-width: 768px)
        {
            top: 9vh;
            height: 9vh;
            width: 14vh;    
        }

        &Texture
        {
            position: absolute;
            height: 100%;
            width: 100%;

            &Active
            {
                display: none;
            }
        }

        &Inner
        {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }

        &Room
        {
            position: relative;
            color: #4E5E80;
            margin-bottom: 4px;

            @media (max-width: 768px)
            {
                font-size: 12px;
                margin-bottom: 0;        
            }
        }

        &Level
        {
            position: relative;
            color: #B5C4E3;        

            @media (max-width: 768px)
            {
                font-size: 12px;
            }
        }
    }
}

.button
{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%);
    transition: .2s;
    overflow: hidden;

    &::before
    {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        height: 200%;
        width: 10px;
        opacity: .5;
        background-color: white;
        transform: rotate(25deg);
        transition: 1s;
    }

    &:hover
    {
        opacity: 1;
        background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%) !important;
        box-shadow: #EFB23D 0px 0px 30px -5px;

        & .buttonText
        {
            color: #222A3A;
        }

        &::before
        {
            left: 150%;
        }
    }

    &:not(:hover) &Text
    {
        background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}