.wrapper
{
    padding: 16px;
    max-width: 960px;
    height: 100%;
    position: absolute;
    transform: translate(-100%);
    transition: .3s;
    width: 100%;

    &:not(.active)
    {
        & .tabs
        {
            display: none;
        }
    }

    @media (max-width: 1060px)
    {
        max-width: initial;
    }

    @media (max-width: 768px) {
        padding: 8px;
    }
}

.active
{
    transform: translate(0);
}

.gameOverButtons
{
    display: flex;
    gap: 16px;
    margin-left: 14px;
}

.dialog
{
    height: 100%;
}


.balances
{
    display: flex;
    align-items: center;
    gap: 14px;

    @media (max-width: 768px)
    {
        gap: 8px;
    }
}

.balance
{
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 768px)
    {
        gap: 4px;
    }

    &Icon
    {
        height: 30px;

        @media (max-width: 768px)
        {
            height: 16px;
        }
    }
}

.containers
{
    position: relative;
    display: flex;
    gap: 8px;
    height: 100%;
}

.container
{
    height: 100%;
    
    background: #293145;
    border: 1px solid #313B52;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    width: 100%;

    transition: .3S;

    @media (max-width: 768px)
    {
        border-radius: 12px;
    }

    &.disabled
    {
        opacity: .3;
        pointer-events: none;
    }
}

.header
{
    background: #313B52;
    color: #4E5E80;
    text-align: center;
    padding: 27px 16px;

    @media(max-width: 1060px)
    {
        padding: 16px;
    }

    @media(max-width: 768px)
    {
        padding: 11px;
    }
}

.footer
{
    display: flex;

    @media (max-width: 768px)
    {
        flex-direction: column;    
    }

    &Button
    {
        background: #313B52;
        border: none;
        outline: none;
        cursor: pointer;    
        padding: 14px;
        width: 100%;

        @media(max-width: 768px)
        {
            padding: 8px;

            &:first-child
            {
                border-radius: 12px 12px 0 0;
            }
        }

        &:hover
        {
            opacity: .7;
        }

        &Text
        {
            background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;        
        }
    }
}


.content
{
    flex-grow: 1;
    overflow: auto;
    padding: 11px;   

    @media (max-width: 768px)
    {
        padding: 8px;
    }
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;

    @media (max-width: 768px)
    {
        gap: 4px;
    }
}

.card
{
    cursor: pointer;

    @media (max-width: 768px)
    {
        font-size: 16px;
    }

    &Active
    {
        outline: 3px solid #EFB23D;

        @media (max-width: 768px)
        {
            outline: 2px solid #EFB23D;                
        }
    }
    &Disabled
    {
        pointer-events: none;
        opacity: .5;
    }
}

.arrowFirst
{
    //pointer-events: none;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & span
    {
        background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.tabs
{
    position: absolute;
    right: 16px;
    top: 100px;
    transform: rotate(90deg) translate(100%);
    transform-origin: 100% 100%;

    @media (max-width: 768px)
    {
        font-size: 12px;
        z-index: 2;
        top: 50%;
        transform: rotate(90deg) translate(50%);
        right: 20px;
        overflow: hidden;
        border-radius: 0 0 12px 12px;
        border-bottom: 1px solid #4E5E80;
    }

    & .inner
    {
        display: flex;
        
        @media (max-width: 768px)
        {
            // flex-direction: column;
        }
    }

    & .tab
    {
        background: #222A3A;
        padding: 10px 40px;
        border-radius: 22px 22px 0 0;
        cursor: pointer;
        border: none;
        color: inherit;

        @media (max-width: 768px)
        {
            padding: 4px;
            width: 123px;
            border-radius: 0;

        }

        &Active
        {
            background: #293145;
            z-index: 1;
            pointer-events: none;

            @media (max-width: 768px)
            {
                background: #313B52;
            }
        }

        &Disabled
        {
            opacity: 0.5;
            pointer-events: none;
        }

        &:hover
        {
            opacity: .9;
        }

        &:not(:last-child)
        {
            position: relative;
            left: 15px;

            @media (max-width: 768px)
            {
                left: 0;
            }
        }
    }
}