.wrapper
{
    padding: 16px;
    max-width: 960px;
    height: 100%;
    position: absolute;
    transform: translate(-100%);
    transition: .3s;

    @media (max-width: 768px) {
        padding: 8px;
    }
}

.active
{
    transform: translate(0);
}

.dialog
{
    height: 100%;
}


.balances
{
    display: flex;
    align-items: center;
    gap: 14px;
}

.balance
{
    display: flex;
    align-items: center;
    gap: 8px;
    &Icon
    {
        height: 30px;
    }
}


.content, .header, .footer
{
    padding: 11px;

    @media (max-width: 768px)
    {
        padding: 8px;
    }
}

.container
{
    height: 100%;
    
    background: #293145;
    border: 1px solid #313B52;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    @media (max-width: 768px)
    {
        border-radius: 12px;
    }
}

.header
{
    background: #313B52;
    color: #4E5E80;
    text-align: center;
}

.footer
{
    background: #313B52;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover
    {
        opacity: .8;
    }
}

.footerText
{
    background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content
{
    flex-grow: 1;
    overflow: auto;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.card
{
    cursor: pointer;

    &:hover
    {
        opacity: .7;
    }
    &Active
    {
        outline: 3px solid #EFB23D;
    }
}