.pockerTable
{
    margin-left: 8px;
}

@media (max-widtH: 1060px)
{
    .pockerTable
    {
        display: none;
    }
}

@media (max-width: 768px)
{
    .filterButtons
    {
        position: absolute;
        left: -150%;
        bottom: 0;
        transform: translateY(calc(100% + 8px));
        z-index: 2;
        background: #293145;
        padding: 8px;
        width: 100%;
        border-radius: 12px;
        flex-direction: column;
        gap: 4px !important;
        transition: .2s;
    }
    .filterButtonsActive
    {
        left: 0;
    }
}

.info
{
    transition: .2s;
    
    @media (max-width: 1600px)
    {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        z-index: 1;
        padding: 16px 0;
        transform: translate(-110%, 100%);
        padding: 8px 0;
        
        &Active
        {
            transform: translate(0, 100%);            
        }
    
    }
    
    @media (max-width: 768px)
    {
        width: 100%;
        &Content
        {
            flex-direction: column;
        }
    }

    &Content
    {
        display: flex;
        gap: 8px;
    }
}

.buttons
{
    display: flex;
    gap: 8px;
}

.button
{
    &Active
    {
        color: #EFD154 !important;
    }
}

.buttonInfo
{
    display: none;

    @media (max-width: 1600px)
    {
        display: block;
    }
}