.wrapper
{
    padding: 16px;
    max-width: 468px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    transform: translate(100%);
    transition: .3s;

    @media (max-width: 768px) {
        padding: 8px;
    }
}

.active
{
    transform: translate(0);
}

.dialog
{
    height: 100%;
}

.footerButtonIcon
{
    height: 16px;

    @media (max-width: 768px)
    {
        height: 12px;
    }
}

.places
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 8px;
}


.basketEmptyContainer
{
    position: relative;
    min-height: 350px;
    height: 100%;
}


.basketEmptyContent
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.basketEmptyTitle
{
    color: #4E5E80;
    margin-bottom: 8px;
}

.basketEmptyDescription
{
    margin-bottom: 30px;
}

.basketEmptyCircle
{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #313B52;
    border-radius: 50%;
    height: 965px;
    width: 965px;
    transform: translateX(-50%);
}

.basketEmptySofa
{
    position: relative;
    display: block;
    width: 364px;
    margin: 0 auto;
}

.cards
{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    justify-content: center;
}

.card
{
    cursor: pointer;
}

.card:hover
{
    background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
    color: white;
}

.card:hover path
{
    fill: white;
}