.theLoby
{
    margin-left: 8px;
}

.totalRooms
{
    color: #B5C4E3;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filterButton
{
    background: #222A3A;
    padding: 14px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    &:hover
    {
        opacity: .7;
    }
}

@media (max-widtH: 1060px)
{
    
}

@media (max-width: 768px)
{
    .filterButton
    {
        background: #222A3A;
        padding: 6px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }

    .theLoby
    {
        font-size: 14px;
        margin-left: 0px;
    }

    .totalRooms
    {
        margin-left: 8px;
        font-size: 14px;
    }

    .confirmPlaces
    {
        font-size: 12px;
    }
}

.info
{
    transition: .2s;

    @media (max-width: 1600px)
    {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-110%, 100%);
        z-index: 1;
        padding: 16px 0;
        &Active
        {
            transform: translate(0, 100%);            
        }
    
    }
    
    @media (max-width: 768px)
    {
        width: 100%;
        padding: 8px 0;
        
        &Content
        {
            flex-direction: column;
        }
    }

    &Content
    {
        display: flex;
        gap: 8px;
    }

}

.button
{
    &Active
    {
        color: #EFD154 !important;
    }

    &Info
    {
        display: none;
        
        @media (max-width: 1600px)
        {
            display: block;
        }
    }
}