.card
{
    background: #313B52;
    border-radius: 24px;
    overflow: hidden;

    @media (max-width: 768px)
    {
        border-radius: 12px;
    }
}

.inner
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 768px)
    {
        gap: 4px;
        padding: 8px;
    }
}

.info
{
    line-height: 22px;
    &Section
    {
        margin-bottom: 8px;
        
        @media (max-width: 768px)
        {
            margin-bottom: 4px;
            line-height: 20px;
        }
    }
    
}

.input
{
    text-align: center;
    padding: 14px;
    background: #222A3A;
    border: none;
    outline: none;
    color: white;
    border-radius: 12px;
    @media (max-width: 768px)
    {
        border-radius: 6px;
        padding: 10px;
    }
}

.input::placeholder
{
    background: linear-gradient(180deg, #E7DF36 0%, #EFB23D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.input:focus::placeholder { display:none; }


.mintIcon
{
    height: 16px;
}

.button
{
    & div
    {
        font-weight: 400 !important;
    }
}

.buttonCaption
{
    font-weight: 300;
    position: absolute;
    top: 3px;
    right: 50%;
    transform: translate(50%);
    font-size: 12px;
    color: rgba(34, 44, 64, 0.7);

    @media (max-width: 768px)
    {
        top: 0px;
        font-size: 10px;
    }
}